<h2>19-05-19</h2>
<article class="card" [routerLink]="['trader']">
  
  <header>
    <div class="name">XAUUSD</div>
    <div class="icons">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-icon name="heart" *ngIf="false"></ion-icon>
      <ion-icon name="more"></ion-icon>
    </div>
  </header>

  <section>
    <h3><b>BUY</b><span>11:33</span></h3>
    <article>
      <ul class="statitics">
        <li>
          <div class="progress">
            <div class="bar">
              <span class="negative" [style.width]="'40%'"></span>
              <span class="positive"></span>
            </div>
            <p class="sl">SL
                <span>12312</span>
              </p>
            <p class="entry">Entry
                <span>12312</span>
              </p>
            <p class="tp">TP
                <span>12312</span>
              </p>
            
          </div>
          
        </li>
      </ul>
    </article>
  </section> 

  <section>
    <h3><b>SELL</b><span>09:32</span></h3>

    <article>
      <ul class="statitics">
        <li>
          <div class="progress">
            <div class="bar">
              <span class="positive" [style.width]="'40%'"></span>
              <span class="positive"></span>
            </div>
            <p class="sl">SL
                <span>12312</span>
              </p>
            <p class="entry">Entry
                <span>12312</span>
              </p>
            <p class="tp">TP
                <span>12312</span>
              </p>
            
          </div>
          
        </li>
      </ul>
    </article>
  </section>  


</article>

<article class="card" [routerLink]="['trader']">
  
  <header>
    <div class="name">XAUUSD</div>
    <div class="icons">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-icon name="heart" *ngIf="false"></ion-icon>
      <ion-icon name="more"></ion-icon>
    </div>
  </header>

  <section>
    <h3><b>BUY</b><span>11:33</span></h3>
    <article>
      <ul class="statitics">
        <li>
          <div class="progress">
            <div class="bar">
              <span class="negative" [style.width]="'40%'"></span>
              <span class="positive"></span>
            </div>
            <p class="sl">SL
                <span>12312</span>
              </p>
            <p class="entry">Entry
                <span>12312</span>
              </p>
            <p class="tp">TP
                <span>12312</span>
              </p>
            
          </div>
          
        </li>
      </ul>
    </article>
  </section> 

  <section>
    <h3><b>SELL</b><span>09:32</span></h3>

    <article>
      <ul class="statitics">
        <li>
          <div class="progress">
            <div class="bar">
              <span class="positive" [style.width]="'40%'"></span>
              <span class="positive"></span>
            </div>
            <p class="sl">SL
                <span>12312</span>
              </p>
            <p class="entry">Entry
                <span>12312</span>
              </p>
            <p class="tp">TP
                <span>12312</span>
              </p>
            
          </div>
          
        </li>
      </ul>
    </article>
  </section>  


</article>

<h2>18-05-19</h2>
<article class="card" [routerLink]="['trader']">
  
  <header>
    <div class="name">EURUSD</div>
    <div class="icons">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-icon name="heart" *ngIf="false"></ion-icon>
      <ion-icon name="more"></ion-icon>
    </div>
  </header>

  <section>
    <h3><b>BUY</b><span>11:33</span></h3>
    <article>
      <ul class="statitics">
        <li>
          <div class="progress">
            <div class="bar">
              <span class="negative" [style.width]="'40%'"></span>
              <span class="positive"></span>
            </div>
            <p class="sl">SL
                <span>12312</span>
              </p>
            <p class="entry">Entry
                <span>12312</span>
              </p>
            <p class="tp">TP
                <span>12312</span>
              </p>
            
          </div>
          
        </li>
      </ul>
    </article>
  </section> 

  <section>
    <h3><b>SELL</b><span>09:32</span></h3>

    <article>
      <ul class="statitics">
        <li>
          <div class="progress">
            <div class="bar">
              <span class="positive" [style.width]="'40%'"></span>
              <span class="positive"></span>
            </div>
            <p class="sl">SL
                <span>12312</span>
              </p>
            <p class="entry">Entry
                <span>12312</span>
              </p>
            <p class="tp">TP
                <span>12312</span>
              </p>
            
          </div>
          
        </li>
      </ul>
    </article>
  </section>  


</article>