<article class="card" [routerLink]="['trader']">
  <header>
    <div class="name">XAUUSD</div>
    <div class="icons">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-icon name="heart" *ngIf="false"></ion-icon>
      <ion-icon name="more"></ion-icon>
    </div>
  </header>
  <section>
    <article>
      <ul class="statitics">
        <li>
          <span>100<small> %</small></span>
          <div>
            <p>
              Entry
              <span>1192</span>
            </p>       
          </div>
          <div>
            <p>
              TP
              <span>1192</span>
            </p> 
                          
          </div>
          <div>
            <p>
              SL
              <span>1192</span>
            </p>   
</div>
        </li>
      </ul>
    </article>
   
  </section>  

  <section>
    <article>
      <ul class="statitics">
        <li>
          <span>100<small> %</small></span>
          <div>
            <p>
              Entry
              <span>1192</span>
            </p>       
          </div>
          <div>
            <p>
              TP
              <span>1192</span>
            </p> 
                    
          </div>
          <div>
            <p>
              SL
              <span>1192</span>
            </p>   
                       
          </div>
        </li>
      </ul>
    </article>
   
  </section>  

  <section>
    <article>
      <ul class="statitics">
        <li>
          <span>100<small> %</small></span>
          <div>
            <p>
              Entry
              <span>1192</span>
            </p>       
          </div>
          <div>
            <p>
              TP
              <span>1192</span>
            </p> 
                       
          </div>
          <div>
            <p>
              SL
              <span>1192</span>
            </p>   
                      
          </div>
        </li>
      </ul>
    </article>
   
  </section>  
</article>