<main>
  <ion-slides>
    <ion-slide>
      <header>Traders</header>
      <img src="./assets/img/start/step1.png"/>
      <h3>Sigue a traders profesionales</h3>
      <p>Evalúa sus operaciones y copia exactamente sus siguientes movimientos.</p>
    </ion-slide>

    <ion-slide>
      <header>Señales en vivo</header>
      <img src="./assets/img/start/step1.png"/>
      <h3>Descubre dónde invertir tu dinero</h3>
      <p>Visualiza a tiempo real dónde está el sentimiento del mercado</p>
    </ion-slide>

    <ion-slide>
      <header>Vende tus señales</header>
      <img src="./assets/img/start/step1.png"/>
      <h3>What is Ionic Appflow?</h3>
      <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/img/start/step1.png"/>
      <h3>Ready to Play?</h3>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
  <footer><span class="rotate">></span> {{actualSlide}}/4 <span>></span></footer>
</main>