main {
  padding: 20px 0;
  width: 100%;
  color: #fff;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b3943+1,006063+100 */
  background: #0b3943; /* Old browsers */
  background: -moz-linear-gradient(top, #0b3943 78%, #006063 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0b3943 78%, #006063 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #0b3943 78%,
    #006063 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#0b3943',
      endColorstr='#006063',
      GradientType=0
    ); /* IE6-9 */

  .swiper-container { width: 100%;
      height: 100%;
    --bullet-background: var(--ion-color-step-200, #2cb073);
    
    .swiper-slide {
      text-align: left;
      display: block;
      header {
        padding: 0 20px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: normal;
      }
      img {
        height: calc(100vw - 20px);
        object-fit: cover;
        object-position: top;
        border-radius: 30px;
        padding: 0 10px;
        margin-bottom: 10px;
        width: 100%;
      }
      h3 {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        padding: 0 20px;
        line-height: 1.35;    font-weight: 300;
      }
    
    }
  }
  .last{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ion-button{
      color:#092b33;

    }
  }
  footer {
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 12px;
  }
}
.rotate {
  transform: rotate(180deg);
  display: inline-block;
}
