/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
* {
    //Instead of the line below you could use @include box-sizing($bs)
  
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    outline: none;
  }
  
body, ion-content{
  --background: #0b3943; /* Old browsers */
  --background: -moz-linear-gradient(top, #0b3943 78%, #006063 100%); /* FF3.6-15 */
  --background: -webkit-linear-gradient(top, #0b3943 78%, #006063 100%); /* Chrome10-25,Safari5.1-6 */
  --background: linear-gradient(
    to bottom,
    #0b3943 78%,
    #006063 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#0b3943',
      endColorstr='#006063',
      GradientType=0
    ); /* IE6-9 */
}
ion-content{
  display: block;
}