<ion-buttons class="ion-justify-content-end" >
  <ion-menu-button color="light"></ion-menu-button>
</ion-buttons>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="50">
    <ion-refresher-content color="light"></ion-refresher-content>
  </ion-refresher>

  <ion-row class="header">
    <ion-col size="10" offset="1">
      <ion-row>
        <ion-col>
          <h1>Jose, empieza un nuevo día<br>¡Suerte!</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-no-margin">
          <ion-row>
            <ion-col class="ion-no-margin" size="6" class="ion-text-center">
              <h2>14.713</h2>
              <p>Señales</p>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-no-margin">
              <h2>271</h2>
              <p>Proveedores</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>


    </ion-col>
  </ion-row>
  <ion-icon class="filter ion ion-md-funnel" name="funnel" (click)="presentActionSheet()"></ion-icon>

  <div class=" card send-signal ion-activatable"  >
    <div>
      Publica una nueva señal
      <ion-icon slot="end" name="add"></ion-icon>
    </div>
    <ion-ripple-effect></ion-ripple-effect>

  </div>

  <article class="card ion-activatable" [routerLink]="['trader']">
    <header>
      <img src="assets/img/home/user-placeholder.png" alt="">
      <div class="name">David Dávila</div>
      <div class="icons">
        <ion-icon name="heart-empty"></ion-icon>
        <ion-icon name="heart" *ngIf="false"></ion-icon>
        <ion-icon name="more"></ion-icon>
      </div>
    </header>
    <section>
      <p class="title">Estadísticas</p>
      <article>
        <ul class="statitics">
          <li>
            <span>100<small> %</small></span>
            <div>
              <p>
                Total de señales
                <span>1192s</span>
              </p> 
              <p>             
                Total de pips
                <span>1192 </span>
              </p>              
            </div>
            <div>
              <p>
                Señales este mes
                <span>1192s</span>
              </p> 
              <p>             
                Pips este mes
                <span>1192 </span>
              </p>              
            </div>
          </li>
        </ul>
      </article>
    </section>
    <ion-ripple-effect></ion-ripple-effect>
    <footer>
      <p class="active">4 señales activas</p>
    </footer>
  </article>

  <article class="card ion-activatable">
    <header>
      <img src="assets/img/home/user-placeholder.png" alt="">
      <div class="name">David Dávila</div>
      <div class="icons">
        <ion-icon name="heart-empty"></ion-icon>
        <ion-icon name="heart" *ngIf="false"></ion-icon>
        <ion-icon name="more"></ion-icon>
      </div>
    </header>
    <section>
      <p class="title">Estadísticas</p>
      <article>
        <ul class="statitics">
          <li>
            <span>92<small> %</small></span>
            <div>
              <p>
                Total de señales
                <span>1192s</span>
              </p> 
              <p>             
                Total de pips
                <span>1192 </span>
              </p>              
            </div>
            <div>
              <p>
                Señales este mes
                <span>1192s</span>
              </p> 
              <p>             
                Pips este mes
                <span>1192 </span>
              </p>              
            </div>
          </li>
        </ul>
      </article>
    </section>
    <ion-ripple-effect></ion-ripple-effect>
    <footer>
      <p>09-12-2019</p>
    </footer>
  </article>
  

</ion-content>
