main {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #0b3943 64%, #006949 100%);
}
ion-refresher {
  box-shadow: inset 0 0 10px #08272e;
  --color: #f9f878;
  color: #f9f878;
}
